/web-service-template/soa-service-jaxws-stylerpc-easy/.project
/web-service-template/soa-service-jaxws-stylerpc-easy/.settings
/web-service-template/soa-service-jaxws-stylerpc-easy/target
/web-service-template/soa-service-jaxws-stylerpc-easy/.classpath
/web-service-template/soa-service-jaxws-styledocument-medium/.project
/web-service-template/soa-service-jaxws-styledocument-medium/.settings
/web-service-template/soa-service-jaxws-styledocument-medium/target
/web-service-template/soa-service-jaxws-styledocument-medium/.classpath
/web-service-template/rest-service-medium/.project
/web-service-template/rest-service-medium/.settings
/web-service-template/rest-service-medium/target
/web-service-template/rest-service-medium/.classpath
/web-service-template/rest-service-easy/.project
/web-service-template/rest-service-easy/.settings
/web-service-template/rest-service-easy/target
/web-service-template/rest-service-easy/.classpath
