/rest/spring/SpringRestExample/.project
/rest/spring/SpringRestExample/.settings
/rest/spring/SpringRestExample/.classpath
/soa/soa-jaxws-stylerpc-easy/.project
/soa/soa-jaxws-stylerpc-easy/.settings
/soa/soa-jaxws-stylerpc-easy/.classpath
/soa/soa-jaxws-styledocument-medium/.project
/soa/soa-jaxws-styledocument-medium/.settings
/soa/soa-jaxws-styledocument-medium/.classpath
/rest/spring/SpringRestExample/.springBeans
/rest/spring/SpringRestExample/.settings
/rest/spring/SpringRestExample/target
/rest/spring/SpringRestExample/.classpath
/rest/spring/SpringRestExample/.project
/rest/spring/complex-request-response/bet777-system/.project
/rest/spring/complex-request-response/bet777-system/.settings
/rest/spring/complex-request-response/bet777-system/target
/rest/spring/complex-request-response/bet777-system/.classpath
